<div class="d-flex justify-content-center">
<div class="date-nav rounded d-flex justify-content-center align-items-center">
  <a class="date-nav-btn rounded-pill" href="/{{prevDay dayUnix}}"><</a>
  <h2 class="rounded-pill" data-date="{{dayUnix}}">{{day}}</h2>
  <a class="date-nav-btn rounded-pill" href="/{{nextDay dayUnix}}">></a>
</div>
</div>

<section class="post-card d-flex flex-row">
    {{#unless posts}}
      <p>No posts were made on this date</p>
    {{/unless}}
    {{#each posts as |post| }}
      <article>
        <div class="post-header">
          <h2 data-postId="{{post.id}}">
            {{post.title}}
          </h2>
          <h3>
            By <a href="/api/profile/{{post.user.name}}"><strong>{{post.user.name}}</strong></a>
          </h3>
        </div>
          <p class="post-body">
            {{post.content}}
          </p>
        <div class="post-footer">
          {{!-- add in edited flag if edited --}}
          {{#if (is_edited post)}}
            <p>
              <em>Edited</em>
            </p>
          {{/if}}
          <p>
            Posted on <strong>{{format_date post.createdAt}}</strong>
          </p>
        </div>
      </article>
    {{/each}}
</section>
