<div class="d-flex justify-content-center">
  <div class="date-nav rounded d-flex justify-content-center align-items-center">
    <a class="date-nav-btn rounded-pill" href="/{{prevDay dayUnix}}"><</a>
    <h2 class="rounded-pill" data-date="{{dayUnix}}">{{day}}</h2>
    <a class="date-nav-btn rounded-pill" href="/{{nextDay dayUnix}}">></a>
  </div>
</div>
    {{#unless posts}}
    <section class="text-center mt-5">
      <p>No posts were made on this date</p>
    </section>
    {{else}}
    <section class="text-center">
      <p>{{plurals posts.length}}</p>
    </section>
    {{/unless}}
<section class="d-flex flex-wrap flex-row justify-content-center mt-5">
    {{#each posts as |post| }}
      <article class="post-card col-12 col-md-5 col-xl-3">
        <div class="post-header text-center mb-3">
          <h2 data-postId="{{post.id}}">
            {{post.title}}
          </h2>
        </div>
          <p class="post-body text-center">
            {{post.content}}
          </p>
        <div class="post-footer text-center d-flex flex-row flex-wrap justify-content-center">
          {{!-- add in edited flag if edited --}}
          <p>
            Posted by <a class="user-link" href="/api/profile/{{post.user.name}}"><strong>{{post.user.name}}</strong></a> on <strong>{{format_date post.createdAt}}</strong>
          </p>
          {{#if (is_edited post)}}
            <p>
              <em>Edited</em>
            </p>
          {{/if}}
        </div>
      </article>
    {{/each}}
</section>
