<div class="d-flex justify-content-center">
  <div class="date-nav rounded d-flex justify-content-center align-items-center">
    {{#if private}}
      <a class="date-nav-btn rounded-pill" href="/{{prevDay todayUnix}}/private"><</a>
    {{else}}
      <a class="date-nav-btn rounded-pill" href="/{{prevDay todayUnix}}"><</a>
    {{/if}}
    <h2 class="rounded-pill" data-date="{{todayUnix}}">{{today}}</h2>
        <a class="date-nav-btn rounded-pill">></a>
  </div>
</div>
    {{#if logged_in}}
      <div class="d-flex flex-row justify-content-center mt-3">
        <label class="switch">
        {{#if private}}
          <input type="checkbox" id="post-filter" checked>
        {{else}}
          <input type="checkbox" id="post-filter">
        {{/if}}
          <span class="slider round"></span>
        </label>
        <p class="ml-4">My Posts Only</p>
      </div>
    {{/if}}
    {{#unless posts}}
      <p class="text-center mt-5">Post something that made you happy today...</p>
    {{else}}
      <p class="text-center">{{plurals posts.length}}</p>
    {{/unless}}
<section class="d-flex flex-wrap flex-row justify-content-center mt-5">
    {{#each posts as |post| }}
      <article class="post-card col-12 col-md-5 col-xl-3">
        <div class="post-header text-center mb-3">
          <h2 data-postId="{{post.id}}">
            {{post.title}}
          </h2>
        </div>
          <p class="post-body text-center">
            {{post.content}}
          </p>
        <div class="post-footer text-center d-flex flex-row flex-wrap justify-content-center align-items-center">
          <p>
              Posted by <a class="user-link" href="/api/profile/{{post.user.name}}"><strong>{{post.user.name}}</strong></a> on <strong>{{format_date post.createdAt}}</strong>
          </p>
          {{!-- add in edited flag if edited --}}
          {{#if (is_edited post)}}
            <p>
              <em>Edited</em>
            </p>
          {{/if}}
          {{#unless post.public}}
            <p class="private">
              Private
            </p>
          {{/unless}}
        </div>
      </article>
    {{/each}}
</section>

{{#if logged_in}}
  <script src="/js/postFilter.js"></script>
{{/if}}
