<div class="d-flex justify-content-center">
  <div class="date-nav rounded d-flex justify-content-center align-items-center">
    <a class="date-nav-btn rounded-pill" href="/{{prevDay todayUnix}}"><</a>
    <h2 class="rounded-pill" data-date="{{todayUnix}}">{{today}}</h2>
  </div>
</div>

    {{#unless posts}}
      <p>Be the first to post something that made you happy today...</p>
    {{/unless}}

    {{#each posts as |post| }}
      <article class="post-card">
        <div class="post-header text-center">
          <h2 data-postId="{{post.id}}">
            {{post.title}}
          </h2>
          <h3>
            By <a href="/api/profile/{{post.user.name}}"><strong>{{post.user.name}}</strong></a>
          </h3>
        </div>
          <p class="post-body text-center">
            {{post.content}}
          </p>
        <div class="post-footer text-center">
          {{!-- add in edited flag if edited --}}
          {{#if (is_edited post)}}
            <p>
              <em>Edited</em>
            </p>
          {{/if}}
          <p>
            Posted on <strong>{{format_date post.createdAt}}</strong>
          </p>
        </div>
      </article>
    {{/each}}
</section>
