{{!-- Profile info --}}
<aside>
    <h1>
        {{user.name}}
    </h1>
    <p contenteditable="true" maxlength="250">
        {{#if user.bio}}
            {{user.bio}}
        {{else}}
            Click here to add a bio...
        {{/if}}
    </p>
    <a href="mailto:{{user.email}}">{{user.email}}</a>
</aside>
{{!-- add a new post --}}
<section>
    <h2 class="card-header">New Post</h2>
    <form id="newPostForm">
        <div class="form-group">
            <label for="new-post-title">Title:</label>
            <input class="form-control" type="text" id="new-post-title" required aria-required="true"/>
        </div>
        <div class="form-group">
            <textarea name="new-post" id="new-post" class="comment-field" maxlength="250" required aria-required="true"></textarea>
        </div>
        <div class="form-group">
              <p>Public posts are visible to all viewers. Private posts are only visible to you.</p>
                <input type="radio" id="new-post-public" name="visibility" value="true" checked>
                <label for="public">Public</label><br>
                <input type="radio" id="new-post-private" name="visibility" value="false">
                <label for="private">Private</label><br>
        </div>
        <p class="error" style="display: none;">❌ Please enter a complete title and post content.</p>
        <button class="btn-primary" type="submit">Create Post</button>
    </form>
</section>
{{!-- My posts --}}
<section>
    <h2>
        My Posts
    </h2>
    <p>
        You can modify existing posts by clicking into and editing the title, content or public option directly and clicking the Update button.
    </p>
    {{#each user.posts as |post|}}
        <article>
                <div class="post-header">
                    <h2 id="{{post.id}}-title" data-postId="{{post.id}}" contenteditable="true" required aria-required="true">
                        {{post.title}}
                    </h2>
                </div>
                <p id="{{post.id}}-body" class="post-body" contenteditable="true" data-id="{{post.id}}" maxlength="250" required aria-required="true">
                    {{post.content}}
                </p>
                <form>
                    <p>Visibility:</p>
                    <input type="radio" id="{{post.id}}-public" name="visibility" value="true" {{#if this.public}}checked{{/if}}>
                    <label for="public">Public</label><br>
                    <input type="radio" id="{{post.id}}-private" name="visibility" value="false" {{#unless this.public}}checked{{/unless}}>
                    <label for="private">Private</label><br>
                </form>
                <div class="post-footer" >
                    {{!-- add in edited flag if edited --}}
                    {{#if (is_edited post)}}
                         <p>
                             <em>Edited</em>
                        </p>
                    {{/if}}
                    <p>
                        Posted on <strong>{{format_date post.createdAt}}</strong>
                    </p>
                </div>
                <div>
                    <button class="btn-primary post-update" data-id="{{post.id}}">Update</button>
                    <button class="btn-primary post-delete" data-id="{{post.id}}">Delete</button>
                </div>
        </article>
    {{/each}}
</section>

<script src="/js/myprofile.js"></script>